<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="container">
      <h1 class="my-5">Welcome to our repair service</h1>
      <p>We offer high-quality repairs for a variety of products, including:</p>
      <ul>
        <li>Laptops</li>
        <li>Desktops</li>
        <li>Smartphones</li>
        <li>Tablets</li>
        <li>Televisions</li>
      </ul>
      <p>
        Our expert technicians have years of experience and are dedicated to
        providing fast and efficient repairs.
      </p>
      <a href="/repair" class="btn btn-primary my-3">Request a repair</a>
      <h1 class="my-5">Admin</h1>
      <p>data management:</p>
      <a href="/add" class="btn btn-primary my-3">Add a repair Type</a>
      
    </div>
  </body>
</html>
